@tailwind base;
@tailwind components;
@tailwind utilities;

input[type="text"],
input[type="password"],
input[type="email"],
input[type="number"],
input[type="tel"],
textarea {
  @apply w-full border border-black my-1 py-2 px-3 rounded-lg bg-blue-50;
}
textarea {
  height: 140px;
}
button {
  @apply bg-gray-300;
}
button.primary {
  background-color: blue;
  @apply bg-yellow-500 py-2 px-3 w-full text-white rounded-md;
}

.underline-green {
  text-decoration: underline;
  text-decoration-color: green;
  text-decoration-thickness: 2px;
}
.underline-white {
  text-decoration: underline;
  text-decoration-color: white;
  text-decoration-thickness: 2px;
}
